
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

.menu-section {
  background-color: #d5d5d5;
  font: 400 30px Arial, sans-serif;
  padding: 10px;
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;   /* Указываем, что меню будет над катей */
}

.Главная {
  position: absolute;
  top: 15px; /* Сверху 10px */
  left: 200px; /* Слева 20px */
  margin: 0; /* Сбрасываем авто-отступы */
  font: 400 20px Arial, sans-serif; /* Указываем стиль текста */
}

.Проекты {
  position: absolute;
  top: 15px; /* Сверху 10px */
  left: 350px; /* Слева 100px, это пример, можно изменить как угодно */
  margin: 0; /* Сбрасываем авто-отступы */
  font: 400 20px Arial, sans-serif; /* Указываем стиль текста */
}

.katya-section {
  background-color: #ffffff;
  color: #000;
  padding: 136px 70px 344px;
  font: 400 40px Arial, sans-serif;
  margin-top: 30px;  /* Отодвигаем .katya-section вниз, чтобы не перекрывалось меню */
}


.welcome-message {
  align-self: flex-start;
}

.placeholder-box {
  background-color: #d9d9d9;
  height: 149px;
  margin-top: 40px;
}

.coming-soon-message {
  align-self: center;
  margin-top: 74px;
}

button {
  background-color: #ff0000;  /* Красный цвет */
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#greetMessage {
  color: #ff0000;
  font-size: 24px;
  margin-top: 20px;
}

.footer-section{
  font: 400 15px Arial, sans-serif;
  z-index: 20;   /* Указываем, что меню будет над катей */;
  width: 100%;
  display: flex;
  bottom: 0px;
  position: fixed;
  background-color: #c1c1c1;
  padding: 25px 0; /* Добавляем внутренние отступы */
  box-sizing: border-box; /* Учитываем padding в ширину */
}

.Всеправазащищены {
  width: 100%;   /* Ширина на всю страницу */
  position: fixed; /* Фиксируем позицию */
  bottom: 0;    /* Располагаем внизу */
  text-align: left;
  left: 10%; 
}

.projects{
  background-color: #ffffff;
  color: #000;
  padding: 0px 70px;
  font: 300 84px Arial, sans-serif;
}

.message{
  Font: 300 40px Arial, sans-serif;
}